<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<body>
	<!-- <div th:replace="fragments/header :: header"> -->
	<header>
		<nav class="navbar navbar-dark"
			style="background-color: rgb(20, 77, 133);">
			<h1 class="navbar-brand">Customer Management System</h1>
			<form class="d-flex" method="GET" action="search">
				<input class="form-control me-2" type="text" name="keyword"
					autocomplete="off" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</nav>
	</header>
	<br>
	<!-- <div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Static header</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
	<div class="row">
		<div class="container">
			<h3 class="text-center">Customer List</h3>
			<hr>
			<div class="container text-right">
				<a th:href="@{/newCustomerForm}" class="btn btn-success">Add New
					Customer</a>
			</div>
			<br>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>E-mail</th>
						<th>Address</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${listCustomers}">
						<td th:text="${customer.id}"></td>
						<td th:text="${customer.name}"></td>
						<td th:text="${customer.email}"></td>
						<td th:text="${customer.address}"></td>
						<td><a th:href="@{/editCustomerForm/{id}(id=${customer.id})}"
							class="btn btn-primary">Edit</a> &nbsp;&nbsp;&nbsp; <a
							th:href="@{/deleteCustomer/{id}(id=${customer.id})}"
							class="btn btn-danger"
							onclick="javascript: return confirm('Are you sure you want to delete this record?');">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<center>
		<div th:replace="fragments/footer :: footer">&copy;</div>
	</center>
</body>
</html>