<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>New Customer</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-dark"
			style="background-color: rgb(20, 77, 133);">
			<div class="container-fluid">
				<h1 class="navbar-brand">Customer Management System</h1>
				<form class="d-flex" method="GET" action="search">
					<input class="form-control me-2" type="text" name="keyword"
						autocomplete="off" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</header>
	<br>
	<div class="container col-md-5">
		<div class="card">
			<div class="card-body">
				<form action="#" th:action="@{/saveCustomer}"
					th:object="${customer}" method="POST">
					<h2 class="text-center">Add New Customer</h2>
					<br>
					<div class="form-group">
						<input type="text" th:field="*{name}"
							placeholder="Customer Name" required="required" class="form-control">
						<span role="alert" id="nameError" style="color: red">Customer Name is required</span>
					</div>
					<div class="form-group">
						<input type="text" th:field="*{email}"
							placeholder="Customer Email" required="required" class="form-control">
						<span role="alert" id="emailError" style="color: red">Customer Email is required</span>
					</div>
					<div class="form-group">
						<input type="text" th:field="*{address}"
							placeholder="Customer Address" required="required" class="form-control">
						<span role="alert" id="addressError" style="color: red">Customer Address is required</span>
					</div>
					<div class="container text-right">
					<button type="submit" class="btn btn-success">Save</button>
					</div>
				</form>

				<hr>

				<a th:href="@{/}"> Back to Customer List</a>

			</div>
		</div>
	</div>
</body>