<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav class="navbar navbar-dark"
		th:fragment="header">
		<div class="container">
			<div class="navbar-header"
				style="background-color: rgb(20, 77, 133);">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">My project</a>
			</div>
		</div>
	</nav>
</body>
</html>